# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.env
.venv/
venv/

# Virtual environment (Windows/Linux/macOS)
ENV/
env/
*.env

# PyInstaller build files
build/
dist/
SmartConvert.exe

# Inno Setup output
SmartConvertSetup.exe

# Installer contents
installer/SmartConvert.exe
installer/SmartConvertSetup.exe
installer/tesseract/
installer/poppler/

# System files
Thumbs.db
.DS_Store

# IDE/editor configs
.vscode/
.idea/
